{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^[react]",
    "^@(?!/)",
    "^@ui/(.*)$",
    "^@hooks/(.*)$",
    "^./hooks",
    "^./libs",
    "^./utils",
    "^./ui",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
